html, body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	background: #111111;
}

body {
	/*height:9000px;*/
}

img {text-decoration: none; border: 0px}

@viewport {
    zoom: 1.0;
    width: device-width;
}

#header {
	height: 50px;
	
	background: #1d4070; /* Old browsers */
	background: -moz-linear-gradient(top, #1d4070 0%, #0f3859 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d4070), color-stop(100%,#0f3859)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1d4070 0%,#0f3859 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1d4070 0%,#0f3859 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1d4070 0%,#0f3859 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1d4070 0%,#0f3859 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4070', endColorstr='#0f3859',GradientType=0 ); /* IE6-9 */
	position:relative;
	
	-webkit-box-shadow: 0px 17px 5px 0px rgba(0, 0, 0, 0.92);
	-moz-box-shadow:    0px 17px 5px 0px rgba(0, 0, 0, 0.92);
	box-shadow:         0px 17px 5px 0px rgba(0, 0, 0, 0.92);
	z-index:999;
}

#header ul {
	margin:0;
	padding:0;
	list-style:none;
	width:960px;
	margin:0px auto;
	font-family: 'Lato';
	font-weight:700;
	font-size: 14pt;
	overflow: hidden;
	height:100%;
	display: block;
	border-left: 2px solid #27547c;
	border-right: 1px solid #0d2b49;
}

#header li {
	float: left;
	width: 189px;
	width: calc(20% - 3px);
	height:100%;
	border-left: 1px solid #0d2b49;
	border-right: 2px solid #27547c;
	text-align:center;
	padding-top: 13px;
}
#header ul li:nth-child(5) {
	margin-right:0;
}

#right-nav {
	margin-right:0;
}
#header ul li:nth-child(1), #first-nav {
	
}


#header ul li a {
	width:100%;
	height:37px;
	text-decoration:none;
	color: white;
	display: block;
	margin:0px auto;
	text-align:center;
}
#header ul li a:hover {
	color:#0086e4;
}
.section {
	width:100%;
	display: table;
	position:relative;
}

.overlay {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
}

#logo {
	display:block;
	margin:0px auto;
	z-index:2;
}

#section1 {
	
	height:700px;
	z-index:0;
	background-attachment: fixed;
	position:relative;
}

.section-inner {
	display: table-cell;
	vertical-align: middle;
	z-index:999;
}

#section1  h1, h2, h3 {
	font-family: 'Aller';
	font-weight: 400;
	text-shadow: 2px 2px #231f20;
	text-align:center;
	color:white;
}

#section1 h1 {
	margin:40px 0 0 0;
	font-size: 48pt;
}

#section1 h2 {
	margin:20px 0 0 0;
	font-size: 46pt;
}

#section1 h3 {
	margin:20px 0 0 0;
	font-size: 40pt;
}



#section2 {
	background: #0b1b31; /* Old browsers */
	background: -moz-linear-gradient(top,  #0b1b31 0%, #132539 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b1b31), color-stop(100%,#132539)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0b1b31 0%,#132539 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0b1b31 0%,#132539 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0b1b31 0%,#132539 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0b1b31 0%,#132539 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1b31', endColorstr='#132539',GradientType=0 ); /* IE6-9 */

	height:100%;
}	
	
#section2-inner {
	padding:20px 0px 40px 0px;
	width:960px;
	min-height:500px;
	margin: 0px auto;
	overflow:hidden;
}

.package {
	width: 310px;
	margin-right: 15px;
	float:left;
	color:white;
	text-align: center;
	position:relative;
	font-family: 'Lato';
	overflow:hidden;
}

.package-3 {
	margin-right:0px;
}


/* IE 8 */
.package-3 {
	margin-right:0px;
}

.feature-header h3 {
	font-weight: 300;
	font-family: 'Aller';
	font-size: 24pt;
	margin: 10px 0 0 0;
}

.feature-text span.blue {
	color: #33a7e5;
	font-weight: 700;
}

.feature-text span.white {
	color: #ffffff;
	font-weight: 700;
}	

.package-price {
	font-weight: 700;
	font-family: 'Aller';
	font-size: 42pt;
}

.package-price sup {
	font-size:18pt;
}

.package-features {
	list-style:none;
	padding:0;
	margin:0;
}

.package-features li {
	border-top: 1px solid #1a3254;
	border-bottom: 1px solid #010d1e;
	border-collapse: collapse;
	list-style:none;
	height:55px;
	width:100%;
	display:table;
}

.feature-big {
	height:110px !important;
}

.feature-text {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.package-price {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.feature-header {
	border-top: none !important;
}

.last-feature {
	border-bottom: none !important;
}

.package-top {
	left: 10px;
	top:0px;
	position:absolute;
	height: 10px;
	width: 286px;
	border-left: 2px solid;
	border-right:2px solid;
}

.package-3 .package-top, .package-3 .package-bottom {
	left:12px;
}

.package-left {
	left: 0px;
	top:10px;
	position:absolute;
	width:10px;
	height:502px;
	height: calc(100% - 24px);
	border-top:2px solid;
	border-bottom:2px solid;
}

.package-right {
	right: 0px;
	top:10px;
	position:absolute;
	width:10px;
	height:502px;
	height: calc(100% - 24px);
	border-top:2px solid;
	border-bottom:2px solid;
}

.package-inner {
	border: 2px solid;
	width: 286px;
	background: #091930 !important;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.package-bottom {
	left: 10px;
	bottom: 0px;
	position:absolute;
	height: 10px;
	width: 286px;
	border-left: 2px solid;
	border-right:2px solid;
}

/*Enable all corner borders */

.package-1 .package-inner, 
.package-1 .package-top, 
.package-1 .package-bottom, 
.package-1 .package-left, 
.package-1 .package-right {
	border-color: #be0059;
}	

.package-2 .package-inner, 
.package-2 .package-top, 
.package-2 .package-bottom , 
.package-2 .package-left, 
.package-2 .package-right {
	border-color: #28d600;
}

.package-3 .package-inner, 
.package-3 .package-top, 
.package-3 .package-bottom, 
.package-3 .package-right, 
.package-3 .package-left {
	border-color: #0086e4;
}

/*Now disable the borders we don't want*/

.package-1 .package-top, 
.package-1 .package-bottom {
	border-right: 0px solid #be0059;
}

.package-1 .package-right {
	border-top: 0px solid #be0059;
	border-bottom: 0px solid #be0059;
}

.package-2 .package-top, 
.package-2 .package-bottom,
.package-2 .package-left,
.package-2 .package-right {
	border: 0px solid #28d600;
}

.package-3 .package-top, 
.package-3 .package-bottom {
	border-left: 0px solid #0086e4;
}

.package-3 .package-left {
	border-top: 0px solid #0086e4;
	border-bottom: 0px solid #0086e4;
}

.package-3 {
	margin-right: 0 !important;
}

#section3 {
	position:relative;
}

#section3-top {
	display: table;
	width:100%;
	height:476px;
	position:relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#section3-top h2 {
	font-family: 'Aller';
	font-weight: 400;
	text-shadow: 2px 2px #231f20;
	text-align:center;
	font-size: 48pt;
	margin:0 auto;
	display:table-cell;
	vertical-align: middle;
	padding-bottom:75px;
	position:relative;
	z-index:2;
}

#section3-top .overlay {
	height: 100% !important;
	z-index: 1;
}

#colour-tree {
	width: 960px;
	height: 533px;
	position:absolute;
	top:241px;
	left:50%;
	margin-left: -480px;
	z-index:2;
}

#colour-tree-wrapper {
	overflow:hidden;
	height:0px;
}

#section3-bottom {
	padding: 40px;
	background: #0b1b31; /* Old browsers */
	background: -moz-linear-gradient(top,  #0b1b31 0%, #132539 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b1b31), color-stop(100%,#132539)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0b1b31 0%,#132539 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0b1b31 0%,#132539 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0b1b31 0%,#132539 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0b1b31 0%,#132539 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1b31', endColorstr='#132539',GradientType=0 ); /* IE6-9 */
	overflow:hidden;
}

#section3-bottom .service {
	width: 290px;
	float:left;
	color:white;
	font-family: 'Lato';
	font-weight:400;
	font-size: 12pt;
	text-align: justify;
	position: relative;
}

.service h3 {
	font-weight: 400;
	font-size:17pt;
	color:#33a7e5;
}

.service-3, .service-6 {
	margin-right:0px !important;
}

.service {
	margin-right:45px;
}

.service-seperator {
	width:100%;
	height:10px;
	float:left;
	clear:both;
}

.service-header {
	width:290px;
	height:259px;
	position:relative;
}

.service-header h3 {
	position:absolute;
	z-index:3;
}

.service img {
	display: block;
	position:absolute;
	z-index:3;
}

/* Service image positions*/

.service-1 img {
	margin-left: 62px;
	padding-top:38px;
}

.service-2 img {
	margin-left: 38px;
	padding-top: 48px;
}

#responsive-avatar {
	margin-left: 0px !important;
	padding-top: 0px !important;
	position: absolute;
	top:80px;
	left:60px;
}

#responsive-sale {
	margin-left: 0px !important;
	padding-top: 0px !important;
	position:absolute;
	top:83px;
	left:120px;
}

#responsive-pay {
	margin-left: 0px !important;
	padding-top: 0px !important;
	position:absolute;
	top:83px;
	left:180px;
}

.service-3 img {
	margin-left: 43px;
	padding-top:57px;
}

.service-4 img {
	margin-left: 33px;
	padding-top:17px;
}

.service-5 img {
	margin-left: 60px;
	padding-top:19px;
}

.service-6 img {
	margin-left: 0px;
	padding-top:0px;
}

#section3-bottom .service h3 {
	font-family: 'Lato';
	text-shadow: none;
	
	width:100%;
	text-shadow: 2px 2px #231f20;
}

#services-wrapper {
	margin:0px auto;
	width:960px;
	overflow:hidden;
}

#section4 {
	background-position: 50% -500px;
	height: 350px;
	overflow:hidden;
}

#section4-inner {
	width:400px;
	margin:0 auto;
	text-align:center;
}

#section4-inner .text {
	/*text-align: justify;*/
	display: block;
	width:400px;
	font-size:18pt;
	font-weight: 100;
	padding: 40px 20px;
	background: rgba(0,0,0, 0.8);
	vertical-align: middle;
	margin:0 auto;
	color: white;
	font-family: 'Lato';
}

#section4-inner .blue {
	color: #33a7e5;
	font-weight: 400;
}


#section5 {
	background: #1c3350; /* Old browsers #111111 */
	background: -moz-linear-gradient(top,  #1c3350 0%, #111111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c3350), color-stop(100%,#111111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1c3350 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1c3350 0%,#111111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1c3350 0%,#111111 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1c3350 0%,#111111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3350', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
	overflow:hidden;
}

#section5-inner {
	width:960px;
	margin:0 auto;
}

#section5-inner h2 {
	font-size: 48pt;
}

.portfolio-item {
	width:291px;
	height: 199px;
	margin: 0px 40px 20px 0px;
	background: #000000;
	float:left;
	position:relative;
}

.portfolio-item img {
	width:100%;
	height: 100%;
}


.portfolio-overlay {
	position:absolute;
	left:0;
	top:0;
}

.portfolio-3, .portfolio-6 {
	margin-right:0px;
}

#section6 {
	background: #111111;
}

#section6-top {
	margin-top:100px;
	height: 261px;
	width:100%;
	position:relative;
}

#section6-top .overlay {
	z-index: 1;
}

#section6-bottom h2 {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 40px;
}

#contact-form {
	padding:0;
	width:960px;
	margin:0 auto;
	padding-bottom: 40px;
}

#contact-form input, #contact-form textarea {
	border:0;
	padding:5px;
	margin:0;
	background:none;
	font-family: 'Lato';
	font-size:18pt;
	font-weight: 100;
	border-bottom: 1px solid #0088e6;
	color:white;
}

#contact-form #submit {
	border: 1px solid #0088e6;
	padding: 5px;
	width:200px;
	height:50px;
	margin: 0px auto;
	display:block;
}

#contact-form #name {
	width: 90%;
}

#contact-form #name {
	width: calc(100% - 10px);
}


#contact-form #phone {
	width: 45%;
	margin-right: calc(10% - 25px);
}

#contact-form #email {
	width: 45%; 
}

#contact-form textarea {
	border: 1px solid #0088e6;
	width: calc(100% - 12px);
	height: 214px;
	resize: none;
	margin-top:10px;
}

#contact-info {
	float:left;
	font-family: 'Lato';
	font-size:26pt;
	font-weight:400;
	color:white;
	width:100%;
	text-align:center;
	margin-bottom:10px;
}

#contact-info .phone {
	text-decoration:none;
	color: #28d600;
}

#contact-info .email {
	text-decoration:none;
	color: #be0059;
}

#contact-info a:hover {
	color: white;
}

#footer {
	width: 100%;
	height: 100px;
	background: #111111;
}

#footer-inner {
	width: 192px;
	height:64px;
	padding-top:18px;
	margin:0px auto;
}

#footer-inner a {
	float:left;
}

#facebook-link {
	margin-right:64px;
}

#show-nav {
	display:none;
	width:64px;
	height:64px;
	float:right;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	cursor:pointer;
}

/*Placeholder colour*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

/*Media Queries*/
@media screen and (min-width: 1057px) {
	#header ul {
		display: block !important;
	}
}
/* for 1056px or less - 2 columns*/
@media screen and (max-width: 1056px) and (min-width: 721px) {
	
	/* Top columns */
	
	#section2-inner {
		width: 630px;
		height: 100%;
		margin:0px auto;
	}
	
	.package {
		margin: 0 10px 0 0;
	}
	
	.package-2 {
		margin-right:0px;
	}
	
	.package-3 {
		margin: 20px auto;
		width: 630px;
		position: relative;
	}
	
	.package-3 .package-inner, .package-3 .package-top, .package-3 .package-bottom {
		width: 606px;
	}
	
	/*Enable all corner borders */

	.package-1 .package-top, 
	.package-1 .package-bottom {
		border-right: 0px solid #be0059;
	}

	.package-1 .package-right {
		border-top: 0px solid #be0059;
		border-bottom: 0px solid #be0059;
	}

	.package-2 .package-top, 
	.package-2 .package-bottom {
		border-left: 0px solid #28d600;
		border-right: 2px solid #28d600;
		left:12px;
	}
	
	
	.package-2 .package-left {
		border-top: 0px solid #28d600;
		border-bottom: 0px solid #28d600;
	}	
	
	.package-2 .package-right {
		border-top: 2px solid #28d600;
		border-bottom: 2px solid #28d600;
	}	

	.package-3 .package-top, 
	.package-3 .package-bottom {
		border-left: 2px solid #0086e4;
		border-right: 2px solid #0086e4;
		left: 10px;
	}

	.package-3 .package-left {
		border-top: 2px solid #0086e4;
		border-bottom: 2px solid #0086e4;
	}
	
	/*Services columns */
	
	#colour-tree {
		display:none;
	}
	
	#services-wrapper {
		width:625px;
	}
	
	.service-2, .service-4, .service-6 {
		margin-right:0 !important;
	}
	
	.service-seperator {
		display:none;
	}
	
	.service-3 {
		margin-right: 45px !important;
		clear:left;
	}
	
	
	
	/*Portfolio*/
	
	#section5-inner {
		width: 622px;
	}
	
	.portfolio-3, .portfolio-6 {
		margin-right:40px;
	}
	
	.portfolio-2, .portfolio-4, .portfolio-6 {
		margin-right:0px;
	}
	
	/*Contact Form*/
	#contact-form {
		width:630px;
	}
	
	/*Nav*/
	#header ul {
		width: 95%;
		display: block !important;
	}
	
}

/* for 720px or less - 1 column */
@media screen and (max-width: 720px) {

	#section2-inner {
		width: 310px;
		margin:0px auto;
	}
	
	.section, #header {
		min-width: 465px;
	}
	
	.package-1 {
		width: 310px;
		margin: 0;
	}
	
	.package-2 {
		margin:20px 0;
	}
	
	.package-3 {
		margin: 0;
		width: 310px;
	}
	
	.package-3 .package-inner, .package-3 .package-top, .package-3 .package-bottom {
		width: 286px;
	}
	
	.package-3 .package-inner, .package-3 .package-top, .package-3 .package-bottom {
		
	}
	
	.package-1 .package-bottom {
		border-left:2px solid #be0059;
		border-right:2px solid #be0059;
	}
	
	.package-1 .package-left {
		border-bottom:2px solid #be0059;
		border-top:2px solid #be0059;
	}
	
	.package-1 .package-right {
		border-bottom:2px solid #be0059;
		border-top:2px solid #be0059;
	}
	
	.package-1 .package-top {
		border-left:2px solid #be0059;
		border-right:2px solid #be0059;
	}
	
	
	.package-2 .package-bottom,
	.package-2 .package-top {
		border-left:2px solid #28d600;
		border-right:2px solid #28d600;
		left:10px;
	}
	
	.package-2 .package-left, .package-2 .package-right {
		border-bottom:2px solid #28d600;
		border-top:2px solid #28d600;
	}
	
	.package-3 .package-bottom,
	.package-3 .package-top {
		border-left:2px solid #0086e4;
		border-right:2px solid #0086e4;
		left:10px;
	}
	
	.package-3 .package-left, .package-3 .package-right {
		border-bottom:2px solid #0086e4;
		border-top: 2px solid #0086e4;
	}
	
	/*Services columns */
	
	#colour-tree {
		display:none;
	}
	
	#services-wrapper {
		width:290px;
	}
	
	.service {
		margin-right:0 !important;
		
	}
	
	.right-service {
		margin-left:0 !important;
	}
	
	/*Portfolio*/
	#section5-inner {
		width: 291px;
	}
	
	.portfolio-item{
		margin-right:0px;
	}
	
	/*Contact Form*/
	#contact-form {
		width:310px;
	}
	
	/*Nav*/
	
	#header {
		overflow:hidden;
		height: auto;
	}
	
	#header ul {
		width: 100px;
		display:none;
		float:left;
		padding-left: 10px;
		padding-top:0;
		padding-bottom: 14px;
	}
	
	#header li {
		margin-right: 12.5%;
		width:100px;
		text-align: center !important;
	}
	
	#show-nav {
		display: block;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {
	
}